
body {
    background-color: #ffb242;
    text-transform: uppercase;
    padding: 20px 0;
}
h1{
    font-family: "Lucida Console", "Courier New", monospace;

}

.btn-enviar{
    background-color: rgba(240, 153, 23, 0.911);
    color: #f7f3ee;
    bottom: -55px;
    right: 0;
    width: 140px;
    border-radius: 8px;
    height: 42px;
    font-size: 14px;
    font-family: lato, 'helvetica-light', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    border: none;
    cursor: pointer;
}



input {
    
    border: none;
    border-radius: 4px;
    background-color: #f5f6f8;
    height: 30px;
    font-size: 20px;
    margin: 0 0 15px;
    color: rgb(155, 149, 149);
    font-family: lato, 'helvetica-light', 'sans-serif';
   
}

label {
    display: block;
    margin: 0 auto 7px;
}

.center {
    text-align: center
}
 
.formulario-tarjeta {
    
    border-radius: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0 auto;
    background-color: rgba(226, 211, 142, 0.938);
    width: 100%;
    max-width: 200px;
    padding:  20px 70px 50px 20px;
}
.imagenTarjeta {
    background-image: url("tarjeta.png");
    width: 451px;
    height: 314px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

    
